.profile-img-container {
    padding       : 20px;
    padding-bottom: 5px;
}

.profile-img {
    width        : 100px;
    border-radius: 50%;
    border       : 5px solid black;
}

.MuiSvgIcon-root {
    color: white !important;
}